/* Default Valuew */
body{
    margin: 0;
    box-sizing: border-box;
}

/* Logo */
#background-logo{
    background-image: url(../img/pattern.png);
    background-position: center;
    background-color: cornflowerblue;
    background-size: contain;
    height: 100px;
    background-position: top;
    color: rgb(233, 52, 215);
    padding: 20px;
    position: relative;
}
#logo{
    width: 200px;
    height: 100px;
    position: absolute;
    bottom: -20px;
}

/* Formattazione Testo autore e data */
#autor{
    color: grey;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}

/* link-pag-booleaner */
#link-pag-booleaner{
    text-decoration: none;
    color: rgb(30, 181, 236);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}

/* Conteiner immegini */

.container-pic>img{
    height: 200px;
    width: 400px;
}
/* Descrizione IMG */
#description-imgs{
    font-size: small;
}

.backgroung-yellow{
    background-color: yellow;
}

ul {
    list-style-position: inside;
    padding-left: 0;
  }

  
th{
    background-color: rgb(24, 66, 164);
    color: aliceblue;
}




